name: tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pytest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.9"]
        os: [ubuntu-latest]
        platform: [x64]

    steps:
    - uses: actions/checkout@v2
    - name: Setup conda
      uses: s-weigand/setup-conda@v1
      with:
        activate-conda: false
        conda-channels: conda-forge
        python-version: ${{ matrix.python-version }}

    - name: Create conda environment
      run: |
        conda env create --file ci/environment.yaml
        source activate test
        pip install -v -e . --no-deps

    - name: Environment information
      run: |
        source activate test
        conda info --all
        conda list

    - name: Run tests
      run: |
        source activate test
        pytest -vv --cov-report=xml

    - name: Upload code coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        flags: unittests,${{ matrix.python-version }}
        name: codecov-umbrella
        fail_ci_if_error: false
